.announcement-bar {
  width: 100%;
  background-color: $color-gray;
  text-align: center;
  p {
    padding: 13px;
    @include font-effra-light();
    @include font-xsmall();
    text-transform: uppercase;
    margin-bottom: 0;
    @media screen and (max-width: 992px) {
      margin-bottom: 18px;
    }
  }
}
