.background-image-section {
  background-size: cover;
  background-repeat: no-repeat;
  @include bp(m) {
    padding: 50px 0;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    color: $color-white;
    @include bp(s) {
      width: 95%;
    }
  }
  .content {
    z-index: 2;
  }
  h4 {
    margin-bottom: 0;
    font-style: italic;
    width: 100%;
  }
  h2, a {
    display: block;
  }
  p {
    margin-bottom: 0;
    line-height: 1.3em;
  }
}
.background-image-section::after {
    content: "";
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    background-color: $color-black;
  }
