/* Search Form */
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}
.form {
  text-align: center;
  padding: 50px 0;
  background-color: $color-purple-light;
  color: $color-white;
  position: relative;
  z-index: 2;
  background-size: cover;
  h6 {
    text-transform: uppercase;
  }
  p,
  input,
  select,
  textarea {
    @include font-effra-light();
    @include font-medium();
  }
  ::-webkit-input-placeholder {
    color: $color-gray-dark;
  }
  .form-supplier form {
    width: 75%;
    margin: 0 auto;
  }
  .gform_wrapper .top_label .gfield_label {
    display: none;
  }
  .gform_wrapper ul li:after, .gform_wrapper ul li:before, .gform_wrapper ul.gform_fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gform_wrapper ul li.gfield {
    width: 32%;
    @include bp(s) {
      width: 100%;
    }
    input,
    textarea {
      width: 100%;
      padding: 10px 20px !important;
    }
  }
  .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0;
  }
  #field_1_7 {
    width: 100%;
    select {
      width: 100%;
    }
  }
  #field_1_8 {
    width: 100%;
  }
  select {
    -webkit-appearance: none;
    padding: 10px 20px !important;
    background-color: white !important;
  }
}
.form::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-color: $color-purple;
}
.gform_wrapper .gform_footer {
  text-align: center;
}
.gform_wrapper .gform_footer input[type=submit] {
  @include font-effra-regular();
  text-transform: uppercase;
  padding: 14px 50px;
  color: $color-red;
  background-color: $color-white;
  border: 1px solid transparent;
  font-size: 16px;
  letter-spacing: .05em;
  &:hover {
    border-color: $color-red;
  }
}
.gform_body {
  max-width: 100%;
}
.form-contact {
  .gform_wrapper ul li.gfield {
    width: 48%;
    @include bp(s) {
      width: 100%;
    }
    input,
    textarea {
      width: 100%;
      padding: 10px 20px !important;
    }
  }
  #field_2_5 {
    width: 100%;
  }
  form {
    width: 50%;
    margin: 0 auto;
    @include bp(s) {
      width: 100%;
    }
  }
  a {
    @include font-effra-regular();
    @include font-small();
    text-transform: uppercase;
    color: $color-white;
  }
}

/* Error Messages */
.gform_wrapper div.validation_error {
  display: none;
} 
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color: transparent !important;
    margin-bottom: 0 !important;
    border-top: none !important;
    border-bottom: none !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  input {
    width: 100%;
  }
}
.gform_wrapper .validation_message {
  color: $color-white !important;
  @include font-effra-regular();
}
.instruction {
  display: none;
}
.gform_confirmation_message {
  @include font-effra-bold();
  text-transform: uppercase;
}
