.full-width-text-block  {
  position: relative;
  text-align: center;
  padding: 70px 0;
  h2 {
    color: $color-red;
  }
  p {
    @include font-effra-light();
    @include font-medium();
    width: 75%;
    margin: 0 auto;
  }
}
.home .full-width-text-block {
  padding-bottom: 0;
}
