// Grid system
.main {
  max-width: 1100px;
  padding: 0 1em;
  margin: 0 auto;
}
.sidebar {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($sidebar-sm-columns);
  }
}
@media screen and (max-width: 992px) {
  .wrap {
    position: relative;
    top: -18px;
  }
}
