/* Hero */
.hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .content {
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
  h2 {
    color: $color-white;
    align-self: center;
  }
}
