.news-section {
  margin-top: 50px;
  text-align: center;
  flex-wrap: wrap;
  h5 {
    @include font-mont-regular();
    padding-bottom: 50px;
    @include bp(s) {
      padding-bottom: 10px;
    }
  }
  img {
    height: auto;
    width: 100%;
  }
  .news-item {
    min-height: 350px;
    position: relative;
    @include bp(m) {
      min-height: 250px;
    }
    @include bp(s) {
      min-height: auto;
      margin-bottom: 50px;
    }
    a {
      background-color: $color-red;
      color: $color-white;
      @include font-effra-regular();
      font-size: 16px;
      letter-spacing: .05em;
      padding: 11px 50px;
      position: absolute;
      text-transform: uppercase;
      bottom: 0;
      right: 50%;
      transform: translate(50%);
      border: 1px solid transparent;
      &:hover {
        color: $color-red;
        background-color: $color-white;
        border-color: $color-red;
      }
      @include bp(l) {
        padding: 14px 30px;
      }
      @include bp(m) {
        padding: 14px 20px;
      }
      @include bp(s) {
        position: static;
      }
    }
  }
}
