/* Fonts */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@mixin font-effra-light {
  font-family: "effra",sans-serif;
  font-weight: 300;
  letter-spacing: .05em;
}

@mixin font-effra-regular {
  font-family: "effra",sans-serif;
  font-weight: 400;
}

@mixin font-mont-bold {
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
}


/* Responsive Typography */
@mixin font-xsmall {
  font-size: $font-size-xsmall;
  @include bp(m) {
    font-size: $font-size-xsmall * .75;
  }
}

@mixin font-small {
  font-size: $font-size-small;
  @include bp(m) {
    font-size: $font-size-small * .75;
  }
}

@mixin font-medium {
  font-size: $font-size-medium;
  @include bp(m) {
    font-size: $font-size-medium * .75;
  }
}

@mixin font-medium-large {
  font-size: $font-size-medium-large;
  @include bp(m) {
    font-size: $font-size-medium-large * .75;
  }
}

@mixin font-large {
  font-size: $font-size-large;
  @include bp(m) {
    font-size: $font-size-large * .75;
  }
}

/* Headers + Such */
h2 {
  @include font-mont-bold();
  @include font-large();
}

h3 {
  @include font-mont-bold();
  @include font-medium-large();
}

/* Utilities */
.clear {
  clear: both;
}
img {
  max-width: 100%;
}

/* Aspect Ratios */
.aspect-ratio-sixteen-nine {
  @include aspect-ratio(16, 9);
}

.aspect-ratio-sixteen-seven {
  @include aspect-ratio(16, 7);
}

.aspect-ratio-sixteen-six {
  @include aspect-ratio(16, 6);
}

.aspect-ratio-four-three {
  @include aspect-ratio(4, 3);
}

.aspect-ratio-three-four {
  @include aspect-ratio(3, 4);
}

.aspect-ratio-three-two {
  @include aspect-ratio(3, 2);
}

.aspect-ratio-two-three {
  @include aspect-ratio(2, 3);
}

.aspect-ratio-square {
  @include aspect-ratio(1, 1);
}

/* Shapes */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid $color-white;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -30px;
}

/* Menus */
.logo img {
  max-width: 140px;
  position: absolute;
  z-index: 1;
}
.nav-primary {
  width: 80%;
  float: right;
}
.menu-menu-1-container {
  text-align: center;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    @include font-effra-regular();
    text-transform: uppercase;
    font-size: $font-size-small;
    padding: 20px 0;
    a {
      color: $color-black;
    }
  }
  #menu-item-29 {
    padding-left: 20px;
    background-image: url('../images/icon-member.png');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 24px;
    a {
      color: $color-red;
    }
  }
}

