/* Colors */
$brand-primary:         #27ae60;
$color-gray:            #f6f6f6;
$color-gray-light:      #f2f1f1;
$color-gray-dark:       #3d3e40;
$color-black:           #000;
$color-red:             #e73325;
$color-white:           #fff;
$color-purple:          #45277a;
$color-purple-light:    #4b216e;
$color-blue:            #156ba0;
$color-blue-light:      #2374ab;
$color-orange:          #da7824;
$color-orange-light:    #ea8024;
$color-green:           #478d43;

/* Global options */
$enable-flex:           true;

/* Grid settings */
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/* Vendor variables */
$fa-font-path:          '~font-awesome/fonts';

/* Font Sizes */
$font-size-xsmall: 12px;
$font-size-small: 15px;
$font-size-medium: 18px;
$font-size-medium-large: 28px;
$font-size-large: 34px;
$font-size-xlarge: 54px;

/* Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@mixin font-effra-light {
  font-family: "effra",sans-serif;
  font-weight: 300;
  letter-spacing: .05em;
}
@mixin font-effra-regular {
  font-family: "effra",sans-serif;
  font-weight: 500;
}
@mixin font-effra-bold {
  font-family: "effra",sans-serif;
  font-weight: 700;
}
@mixin font-mont-bold {
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
}
@mixin font-mont-regular {
  font-family: "Montserrat-Regular",sans-serif;
  font-weight: 400;
}
@mixin font-arvo-bold {
  font-family: "arvo",serif;
  font-weight: 400;
}

/* Responsive Type */
@mixin font-xsmall {
  font-size: $font-size-xsmall;
  @include bp(m) {
    font-size: $font-size-xsmall * .75;
  }
}
@mixin font-small {
  font-size: $font-size-small;
  @include bp(m) {
    font-size: $font-size-small * .75;
  }
}
@mixin font-medium {
  font-size: $font-size-medium;
  @include bp(m) {
    font-size: $font-size-medium * .75;
  }
}
@mixin font-medium-large {
  font-size: $font-size-medium-large;
  @include bp(m) {
    font-size: $font-size-medium-large * .75;
  }
}
@mixin font-large {
  font-size: $font-size-large;
  @include bp(m) {
    font-size: $font-size-large * .75;
  }
}
@mixin font-xlarge {
  font-size: $font-size-xlarge;
  @include bp(m) {
    font-size: $font-size-xlarge * .75;
  }
}

/* Breakpoint Mixin */
$breakpoints: (
  xl: (min-width: 100em),
  l:  (max-width: 75em),
  m:  (max-width: 55em),
  s:  (max-width: 37.5em),
  xs: (max-width: 18.75em),
  custom: (max-width: 1066px)
);

@mixin bp($name) {
  $value: map-get($breakpoints, $name);
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "The '#{$name}' breakpoint is not defined. "
        + "Please make sure it is defined in the global.scss '$breakpoint' map.";
  }
}

/* Aspect Ration Mixin */
 /* Usage: @include aspect-ratio(16, 9)  */

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* Aspect Ratios */
.aspect-ratio-sixteen-nine {
  @include aspect-ratio(16, 9);
}
.aspect-ratio-sixteen-seven {
  @include aspect-ratio(16, 7);
}
.aspect-ratio-sixteen-six {
  @include aspect-ratio(16, 6);
}
.aspect-ratio-sixteen-five {
  @include aspect-ratio(16, 5);
}
.aspect-ratio-sixteen-four {
  @include aspect-ratio(16, 4);
}
.aspect-ratio-sixteen-three {
  @include aspect-ratio(16, 3);
}
.aspect-ratio-sixteen-2 {
  @include aspect-ratio(16, 2);
}
.aspect-ratio-four-three {
  @include aspect-ratio(4, 3);
}
.aspect-ratio-three-four {
  @include aspect-ratio(3, 4);
}
.aspect-ratio-three-two {
  @include aspect-ratio(3, 2);
}
.aspect-ratio-two-three {
  @include aspect-ratio(2, 3);
}
.aspect-ratio-square {
  @include aspect-ratio(1, 1);
}