.flex-container {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;    
	justify-content: space-between;
	flex-direction: row;
}

.flex-four-column {
	.flex-item {
    width: 24%;
    @include bp(s) {
			width: 48%;
		}
	}
}

.flex-three-column {
	.flex-item {
		width: 30%;
    @include bp(s) {
      width: 100%;
    }
	}
}

.flex-two-column  {
	.flex-item {
		width: 50%;
    @include bp(s) {
      width: 100%;
    }
	}
}

.flex-full {
	.flex-item {
    @include bp(s) {
      width: 48%;
		}
	}
}