footer {
  .footer-main {
    background-color: $color-blue-light;
    @include font-effra-regular();
    text-transform: uppercase;
    @include font-small();
  }
  a {
    color: $color-white;
    @include bp(s) {
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }
  }
  img {
    width: 60px;
    @include bp(s) {
      padding: 10px 0;
    }
  }
  .wrap {
    padding: 15px 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-copyright {
    text-align: center;
    padding: 10px;
    @include font-effra-light();
    @include font-xsmall();
  }
}
