/* Home */
.home {
  .content {
    flex-direction: column;
    .cta-button {
      background-color: $color-white;
      color: #383a3b;
      @include font-effra-regular();
      font-size: 16px;
      letter-spacing: .05em;
      padding: 11px 50px;
      margin-top: 10px;
      text-transform: uppercase;
      border: 1px solid transparent;
      &:hover {
        background-color: transparent;
        border-color: $color-white;
        color: $color-white;
      }
    }
  }
}
.members {
  padding-bottom: 25px;
  @include bp(s) {
    flex-wrap: wrap;
  }
  .member {
    padding: 0 20px;
    @include bp(s) {
      align-self: center;
      padding: 20px;
    }
  }
  img {
    height: auto;
    width: 100%;
  }
}
.link-wrap {
  text-align: center;
  text-transform: uppercase;
  color: $color-red;
  p {
    @include font-effra-bold();
    margin: 30px 0 10px 0;
  }
}
.link-out {
  @include font-effra-regular();
  @include font-small();
  color: $color-red;
  display: inline-block;
  margin: 60px 0;
  @include bp(s) {
    margin: 20px 0;
  }
  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: $color-red;
  }
  &:hover {
    text-decoration: none;
    color: $color-red;
    &:after {
      background-color: transparent;
    }
  }
}

/* About */
.about .full-width-text-block {
  background-color: $color-blue;
  h2 {
    color: $color-white;
  }
}
.about-row {
  flex-wrap: wrap;
  .about-item {
    color: $color-white;
    position: relative;
    img {
      position: absolute;
      bottom: 0;
      width: 100%;
      overflow: hidden;
    }
  }
  .about-item:nth-of-type(1) {
    background-color: $color-orange-light;
    .about-content {
      @include bp(s) {
        padding-bottom: 150px;
      }
    }
  }
  .about-item:nth-of-type(2) {
    background-color: $color-red;
  }
  .about-content {
    padding: 70px 80px;
  }
  p {
    @include font-effra-light();
    @include font-medium();
  }
}
.story-block-row {
  flex-wrap: wrap;
}
.story-block-row:nth-of-type(even) {
  flex-direction: row-reverse;
}
.story-item {
  position: relative;
  p {
    @include font-effra-light();
    @include font-medium();
    display: inline;
  }
  span {
    font-size: 26px;
    display: inline;
    margin-right: 10px;
    @include bp(m) {
      font-size: 22px;
    }
  }
  img {
    margin-bottom: -1px;
  }
}
.story-text {
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include bp(m) {
    position: static;
    transform: none;
    top: auto;
  }
}

/* Exclusive Brands */
.exclusive-brands .hero::after,
.distributor-alliance .hero::after,
.suppliers .hero::after {
  content: "";
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  background-color: $color-black;
}
.brands {
  margin: 25px 0;
  flex-wrap: wrap;
  img {
    height: auto;
  }
}
.brand {
  margin: 25px 0;
  width: 46%;
  @include bp(s) {
    width: 100%;
  }
  h2 {
    @include font-mont-bold();
    @include font-medium-large();
    margin-top: 25px;
    margin-bottom: 15px;
  }
  img {
    width: 100%;
  }
  p {
    @include font-effra-light();
    @include font-medium();
  }
  .subtitle {
    @include font-effra-regular();
    padding: 10px 0;
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
  }
}

/* Distributor Alliance */
.distributor-alliance {
  .members-wrap {
    background-color: $color-gray-light;
  }
  .members {
    flex-wrap: wrap;
  }
  .member {
    width: 46% !important;
    position: relative;
    padding: 35px 20px;
    @include bp(s) {
      width: 100%;
    }
    p {
      @include font-effra-light();
      @include font-medium();
      margin: 25px 0 75px 0;
    }
    a {
      background-color: $color-red;
      color: $color-white;
      @include font-effra-regular();
      font-size: 16px;
      letter-spacing: .05em;
      padding: 14px 50px;
      position: absolute;
      text-transform: uppercase;
      bottom: 40px;
      left: 20px;
      border: 1px solid transparent;
      &:hover {
        background-color: $color-white;
        border-color: $color-red;
        color: $color-red;
      }
      @include bp(l) {
        padding: 14px 30px;
      }
      @include bp(m) {
        padding: 14px 20px;
      }
      @include bp(s) {
        position: static;
      }
    }
  }
}

/* Suppliers */
.benefits {
  flex-wrap: wrap;
  .benefit {
    width: 46%;
    padding-bottom: 75px;
    @include bp(s) {
      width: 100%;
    }
  }
  h3 {
    text-transform: uppercase;
    text-align: center;
    color: $color-red;
    letter-spacing: .04em;
    font-size: 24px;
  }
  p {
    @include font-effra-light();
    @include font-medium();
  }
}
.case-study-section {
  flex-wrap: wrap;
  align-content: center;
  .case-study {
    width: 30%;
    padding: 10px 30px 30px 20px;
    align-self: center;
    text-align: center;
    border: 1px solid $color-black;
    position: relative;
    @include bp(m) {
      width: 48%;
      margin-bottom: 30px;
    }
    @include bp(s) {
      width: 100%;
      height: auto;
    }
  }
  img {
    height: auto;
  }
}

/* News */
.news {
  .hero {
    background-color: $color-orange-light;
  }
  .news-item {
    margin-bottom: 60px;
  }
}

/* Case Studies */
.case-studies {
  .benefits {
    padding: 60px 0;
  }
  .hero {
    background-color: $color-green;
  } 
  .case-study {
    margin: 30px 0;
  }
}
