/* Home */
.home {
  .content {
    flex-direction: column;
    .cta-button {
      background-color: $color-white;
      color: #383a3b;
      @include font-effra-regular();
      font-size: $font-size-medium;
      padding: 14px 50px;
      margin-top: 10px;
    }
  }
}
.members {
  display: flex;
  justify-content: space-between;
  @include bp(s) {
    flex-wrap: wrap;
  }
  .member {
    padding: 0 20px;
    @include bp(s) {
      width: 48%;
      align-self: center;
      padding: 20px;
    }
  }
  img {
    height: auto;
  }
}
.link-wrap {
  text-align: center;
}
.link-out {
  @include font-effra-regular();
  @include font-small();
  color: $color-red;
  text-align: center;
  margin: 60px 0;
  text-transform: uppercase;
  display: inline-block;
  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: $color-red;
  }
  &:hover {
    text-decoration: none;
    color: $color-red;
    &:after {
      background-color: transparent;
    }
  }
}

/* About */
.about-row {
  display: flex;
  flex-wrap: wrap;
  .about-item {
    width: 50%;
    color: $color-white;
    position: relative;
    img {
      position: absolute;
      bottom: 0;
      width: 100%;
      overflow: hidden;
    }
    @include bp(s) {
      width: 100%;
    }
  }
  .about-item:nth-of-type(1) {
    background-color: $color-orange-light;
    .about-content {
      @include bp(s) {
        padding-bottom: 150px;
      }
    }
  }
  .about-item:nth-of-type(2) {
    background-color: $color-red;
  }
  .about-content {
    padding: 70px 80px;
  }
  p {
    @include font-effra-light();
    @include font-medium();
  }
}
.story-block-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.story-block-row:nth-of-type(even) {
  flex-direction: row-reverse;
}
.story-item {
  width: 50%;
  @include bp(s) {
    width: 100%;
  }
  p {
    @include font-effra-light();
    @include font-medium();
    display: inline;
  }
  span {
    font-size: 30px;
    display: inline;
    margin-right: 10px;
  }
}
.story-text {
  padding: 25px 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  @include bp(l) {
    padding: 25px 50px;
  }
  @include bp(m) {
    padding: 25px;
  }
}

/* Exclusive Brands */
.exclusive-brands .hero::after,
.distributor-alliance .hero::after {
  content: "";
  opacity: 0.4;
  top: 2px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  background-color: $color-black;
}
.brands {
  margin: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  img {
    height: auto;
  }
}
.brand {
  margin: 25px 0;
  width: 46%;
  @include bp(s) {
    width: 100%;
  }
  h2 {
    @include font-mont-bold();
    @include font-medium-large();
    margin-top: 25px;
    margin-bottom: 15px;
  }
  img {
    width: 100%;
  }
  p {
    @include font-effra-light();
    @include font-medium();
  }
  .subtitle {
    @include font-effra-regular();
    padding: 10px 0;
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
  }
}

